# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.

# You can also use email addresses if you prefer.

# managed by repo-man
.github/*     @estahn @jurgenweber
.circle*    @estahn @jurgenweber
.releaserc  @estahn @jurgenweber

