{{- template "base" -}}

{{ define "jobs" }}
  {{ template "job-k8s_manifest_tests" }}

  k8s_build_image:
    docker:
      - image: circleci/node:10.12
    steps:
      - add_ssh_keys:
          fingerprints:
            - "f8:11:35:c2:1d:2d:5d:4d:df:0b:23:82:8b:35:d3:e6"
{{ template "circleci_checkout" }}
      - setup_remote_docker
      - run:
          name: Build Docker Image
          command: |
{{ file.Read "files/docker_image.sh" | strings.Indent 6 "  " }}

  {{ template "job-k8s_deploy" }}

{{- end -}}

{{ define "workflows" }}
  build-n-deploy:
    jobs:
      - k8s_build_image:
          context: org-global
      - k8s_manifest_tests:
          context: org-global
      - k8s_deploy:
          context: org-global
          requires:
            - k8s_build_image
{{- end -}}
